<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>blogfeedshow</name>
            <displayName><![CDATA[Blog Feed Show]]></displayName>
            <version><![CDATA[0.1]]></version>
            <description><![CDATA[Show a list with the image and link for each post of a blog feed]]></description>
            <author><![CDATA[Carlos Mayo]]></author>
            <tab><![CDATA[front_office_features]]></tab>
            <is_configurable>1</is_configurable>
            <need_instance>0</need_instance>
	<limited_countries></limited_countries>
        </module>